*{
    padding: 0;
    margin: 0;
}


.nav-content{
    background-color: #405d92;
    padding: 10px;
    border: 1px solid #37496b;
    box-shadow: 5px 5px 5px #354a72;
}

.nav-list{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    

}
.nav-list img{
    width: 160px;

}

.container-backround{
    background-color: #405d92;
    border: 1px solid #37496b;
    box-shadow: 5px 5px 5px #354a72;
}

.search-icon .fa-magnifying-glass {
    color: #fff;
    margin-top: 1vh;
    cursor: pointer;
    margin-right: 10vh;
    font-size: 20px;
    transition: all 0.3s;
}

.search-icon .fa-magnifying-glass:hover{
    color: rgb(53, 62, 116);
    transform: scale(1.01);
}
/* Carousel Main */

.carousel-content{
    margin-top: 2rem;
}

.carousel-list, .carousel-list img{
    border-radius: 10px;
}
.carousel-list img{
    border: 5px solid rgb(255, 255, 0);
}

/* Menu List */
.container-backround-2{
    background-color: #405d92;
}
.text-area h3{
    padding-left: 4vh;
    font-size: 27px;
}
.menu-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-top: 2rem;
}
.menu-item h3{
    color: #fff;
    font-size: 25px;
}
.menu-list{
    text-align: center;
    gap: 10px;
    justify-content: center;
}
.menu-item p {
    
    color: #fff;

}
.menu-list img {
    width: 180px;
    border-radius: 10px;
}
.container-1{
    padding-top: 5rem;
    color: #fff;
}
.container-2{
    margin-top: 2rem;
    color: #fff;
}


/* Footer End */

.footer-end{
    background-color: rgb(36, 33, 33);
    padding: 30px;
    margin-top: 5rem;
    
}
.contant-info{
    display: flex;
    gap: 10px;
}
.contant-info img{
    height: 30px;
}
.text-nav{
    color: #fff;
    width: 400px;
}
.footer-item{
    display: flex;
    justify-content: space-between;
}
.costumer-service img{
    position: relative;
    top: -40%;
}
.footer-end li{
    list-style: none;
}
.footer-end li a{
    color: #fff;
    text-decoration: none;
}

.footer-license{
    display: flex;
    background-color: rgb(231, 226, 226);
}
.footer-license-end{
    display: flex;
    justify-content: center;
}
/* .footer-license-end .text-license p{
    padding-top: 20px;
} */
.footer-license-end img{
}




/* Breakpoint */

@media (max-width: 1100px){
    .menu-list img {
        width: 180px;
        border-radius: 10px;
    }
    .text-area h3{
        padding-left: 3vh;
        font-size: 25px;
    }
    .menu-item{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 820px){
    .menu-list img {
        width: 150px;
        border-radius: 10px;
    }
    .menu-item{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 711px){
    .menu-list img {
        width: 130px;
        border-radius: 10px;
    }
    .text-area h3{
        padding-left: 3vh;
        font-size: 23px;
    }
    .menu-item{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 670px){
    .menu-list img {
        width: 120px;
        border-radius: 10px;
    }
    .text-area h3{
        padding-left: 2vh;
        font-size: 20px;
    }
    .menu-item{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width: 580px){
    .menu-list img {
        width: 150px;
        border-radius: 10px;
    }
    .menu-item{
        grid-template-columns: repeat(3, 1fr);
    }
}